.filter-form-card {
  border-width: 5px;
  border-style: solid;
  max-width: 300px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-item .ant-form-item-label {
  justify-content: flex-start;
  text-align: left;
  min-width: 130px;
}

.select {
  width: 100%;
}

.ant-select-selector {
  width: 100% !important;
}