  .text-style {
    color: #0070f3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(90deg, #0070f3 100%, #ff00a6 0%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out, text-shadow 1s ease-out;
  }
  
  .text-style:hover {
    -webkit-text-fill-color: #0070f3;
    color: #0070f3;
    text-shadow: 0 0 10px #0070f3, 0 0 20px #ff00a6, 0 0 30px #00f3ff;
  }
  
  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }